[2016-03-23 16:44] petrkalos opened #2 "icd_exports path"
When ICD-Loader is being used as subproject, CMAKE_SOURCE_DIR in CMakeLists.txt:25 is not producing the correct path to icd_exports.map.
I think that PROJECT_SOURCE_DIR is more suitable.

[2016-06-02 14:55] VincentSC opened #3 "Branches per version"
It would be nice to have a branch per OpenCL version

[2016-06-02 14:59] kepatil commented on #3
Hi Vincent, can you elaborate on the need for branches? The ICD loader is backward compatible by design so using the latest ICD loader would work for all OpenCL versions.

[2016-06-02 20:09] VincentSC commented on #3
Thank you - I needed to know that. Could you please add this info to the readme?

What about the deprecated functions, which will be removed in a later version?

[2016-06-06 12:26] kepatil commented on #3
ICD loader will not remove deprecated functions so applications will link correctly and calls to such functions will be routed as usual to the underlying vendor platform(s). After that it is up to the platform to support deprecated functionality.

Adding a note in the README makes sense.

[2016-06-06 13:35] VincentSC commented on #3
Thanks Kedar! Great info to know!

[2016-06-06 13:35] #3 closed

[2016-06-13 18:59] helloworld922 opened #4 "Support non-root user installs"
It would be extremely useful if the ICD loader supported installing OpenCL implementations not as the root user on Unix-like systems.

For example, AMD's APP SDK implementation used to support an environment variable OPENCL_VENDOR_PATH (not sure if they still do?) which could be used to specify what directory to look for ICD files in, defaulting to /etc/OpenCL/vendors if this environment variable

[2016-06-29 20:01] Brainiarc7 opened #5 "Skip tests on build"
Hello,

Is it possible to skip all tests on build?
Is there a Cmake configuration option that can disable the generation of all test(s)?

[2016-06-29 20:17] jrprice commented on #5
Maybe I didn't quite understand what you're asking, but if you just want to build the ICD loader library, then you can use the `OpenCL` target:

    # e.g. with GNU Make
    make OpenCL

This will not build any of the tests.

[2016-06-29 22:46] Brainiarc7 commented on #5
Ah, I see, thanks :-)

On 29 June 2016 at 23:17, James Price <notifications@github.com> wrote:

[2016-06-29 22:48] Brainiarc7 commented on #5
And after running the make OpenCL (to build the OpenCL target), would running make install install the library?

[2016-06-30 10:18] jrprice commented on #5
We don't provide an `install` target at present - the library is just built in a `bin/`directory.

[2016-06-30 15:11] Brainiarc7 commented on #5
Alright, thanks for the clarification.

On 30 June 2016 at 13:18, James Price <notifications@github.com> wrote:

[2016-07-28 16:23] Mezzano opened #7 "OpenCL-ICD-Loader for version 1.1"
Hello,

we're trying to activate and use GPU vivante gc200 on imx6q board ARM 7 with linux 3.10.31 and distribution opensuse 13.1.

The GPU is opencl 1.1 EP enabled and we are looking for an libOpenCL.so.
OpenCL-ICD-Loader doesn't seem to support OpenCL 1.1., where can we find such a library?

[2016-09-02 11:12] kepatil commented on #7
OpenCL ICD Loader is backwards compatible by design so it should work with all versions of OpenCL till date. If you are seeing unexpected behavior while using it then please file a separate issue and provide details.

[2016-09-02 11:12] #7 closed

[2016-09-02 11:13] kepatil commented on #5
Closing issue as I see no open questions.

[2016-09-02 11:13] #5 closed

[2016-09-02 11:31] kepatil commented on #4
Providing an env var as suggested would be analogous to LD_LIBRARY_PATH which is considered a security hole due to the ability of loading arbitrary libraries. Also, we have found no end user installation use cases requiring this feature.

It seems like the feature is being requested mostly for developer convenience. In that case developers can easily add such an env var and rebuild the ICD loader

[2016-09-02 11:31] #4 closed

[2016-09-13 14:58] kepatil commented on #2
I think this makes sense. I will try the suggestion locally and incorporate it.

[2017-01-06 10:30] hypernewbie opened #9 "Windows build doesn't work"
NMAKE : fatal error U1077: '"C:\Program Files (x86)\CMake\bin\cmake.exe"' :
  return code '0xffffffff'

  Stop.

  NMAKE : fatal error U1077: '"c:\Program Files (x86)\Microsoft Visual Studio
  9.0\VC\BIN\nmake.exe"' : return code '0x2'

  Stop.

  CMake will not be able to correctly generate this project.
Call Stack (most recent call first):
  CMakeLists.txt:3 (project)

-- Configuring incomplete,

[2017-01-06 10:58] kepatil commented on #9
Which version of Cmake and Visual Studio are you using? Please also paste your build command.

[2017-01-13 12:53] ptomulik commented on #7
Hi, I'd like to join to this question. I have a project of C++ library which uses OpenCL. As a part of build it downloads ICD loader, builds it up and uses as its own library. To this end I was able to build and test my project against several versions of OpenCL/ICD loader (1.0, 1.1, ..). Now it looks like I'm restricted to only 2.1 ICD loader. Is there a place where I could still download older v

[2017-01-23 06:46] Zhendong404 opened #10 "make error"
When I run "make" on Linux, it failed and output some errors like this, how can I fix it?

[2017-01-30 20:17] sirzooro opened #11 "Error when building OpenCL ICD Loader using MinGW"
Compilation of OpenCL ICD Loader using MinGW gcc fails. Compiler complains about missing `InitOnceExecuteOnce` function, then linker complains about missing dl lib. More details about this problem and workaround needed to get libOpenCL.a are in [this thread on StackOverflow](https://stackoverflow.com/questions/39179957/how-to-work-around-the-lack-of-initonceexecuteonce-in-mingw-or-mingw-w64-gcc/41

[2017-02-15 15:16] #10 closed

[2017-03-20 12:14] josephnoir opened #12 "Runtime errors from wrong vendor library"
Running OpenCL programs on a host that includes a Nvidia Tesla GPU as well as a Intel Xeon Phi sometimes leads to an error that looks like it originates from the wrong vendor library.

Specifically, executing a program on the Tesla GPU lead to an error expected from the Xeon Phi coprocessor. The error message included `HARDWARE FAULT MIC ` (or something similar) in the name, which hints at the Xeo

[2017-03-20 14:40] kepatil commented on #12
Hi Joseph,

I need more details to understand this better. I am assuming that "executing a program" means calling clEnqueueNDRangeKernel.

* Where do you see the error? Is it in dmesg output? Can you provide the full error string?
* How often do you see this error?
* Can you provide sample code that reproduces the issue?

The ICD Loader dispatches calls to one of the installed vendor implementatio

[2017-03-20 15:02] josephnoir commented on #12
Hi Kedar,

yes, by executing I mean calling `clEnqueueNDRangeKernel`, sorry for the inaccuracy.

I got some test running on the Tesla right now, but I'll try to recreate the error after that and post a log. My use case right now is a radix sort as part of larger algorithm. Maybe, extracting the sort will be enough to provide a smaller sample to reproduce the error. The error doesn't occur each tim

[2017-03-27 08:53] josephnoir commented on #12
Hello,

took me while, but here is the exception:

[code]

The trace looks like it originates from the MIC driver (or server). I wasn't able to reproduce the error using just the sorting algorithm. My code is rather bulky and I am not sure it would be helpful to you. I am running [this program](https://github.com/josephnoir/indexing/blob/master/src/phases.cpp) which depends on [CAF](https://github

[2017-03-27 10:51] kepatil commented on #12
Thanks Joseph. Since there is nothing I can do at this point I will close the issue as you suggested. Feel free to reopen when you have more information.

[2017-03-27 10:51] #12 closed

[2017-03-31 05:25] rlim77 opened #13 "Memory leak in icd.c"
Khronos ICD library do not free allocated memory at runtime. Our team discovered a memory leak with the ICD library. Appreciate it if this could be fixed.

\icd\icd.c
You need to add free in icd.c file, the numbers are the line numbers.
183 *prevNextPointer = vendor;
184 }
**185 free(vendor);
186 free(suffix);**
187 KHR_ICD_TRACE("successfully added vendor %s with suffix %s\n", libraryName, suffix

[2017-03-31 16:48] viswph commented on #9
Hi kepatil,
I have experienced a similar problem, i.e. I cannot build the ICD-Loader for Windows 7.

I am using CMake, from Kitware in version 3.7.2 and Visual C++ 2010 Express - ENU in version 10.0.40219. Due to this VC++ version I modified the "build_using_cmake.bat" file in line 1:
`call "%VS90COMNTOOLS%/vsvars32.bat"`

I also had to add a "GL" folder and the "gl.h" file to the "inc" folder. Bu

[2017-04-19 05:25] MichaelE1000 commented on #13
I don't think so.

The allocated memory is added to a linked list called khrIcdVendors which is a linked list and presumably exists the whole time your application is up and running. If you look at the code there is also only a khrIcdInitialize initialize function but no way to free up the actual memory.

[2017-04-27 06:44] kepatil commented on #13
Agree with @MichaelE1000. OpenCL API does not provide a clean deinitialization or exit point where to free these allocations. Using atexit() and similar hooks have ordering issues. I do not know of a good way to fix this apparent memory leak so it isn't going away anytime soon.

@rlim77 do you agree with the problem with your proposal? If you have another solution feel free to discuss. Otherwise I

[2017-04-27 06:49] kepatil commented on #11
Thanks for the link and description of the MinGW issue. Will you be able to create a pull request with a fix?

There is an existing pull request that adds an option to compile a static library. I will consider merging it.

[2017-04-27 07:20] kepatil commented on #9
@hypernewbie Can you verify if pull request #15 fixes your issue?

@viswph Your issue with GL headers is not directly related to the build problem reported by @hypernewbie. Please file a new issue so that we can discuss it separately.

[2017-04-27 16:04] rlim77 commented on #13
Let me sync with our OCL team and get back to you.

Can I distill your response to mean that there's no good way to fix this?

On Apr 27, 2017 2:44 PM, "Kedar Patil" <notifications@github.com> wrote:

[2017-04-27 16:20] kepatil commented on #13
@rlim77 Yes, that's the summary.

[2017-05-03 13:15] viswph opened #17 "ICD-Loader cannot be built on Windows 7 due to missing GL headers"
Hi kepatil,

As mentioned in your comment on issue #9 I created a new issue.

I cannot build the ICD-Loader for Windows 7.

I am using CMake, from Kitware in version 3.7.2 and Visual C++ 2010 Express - ENU in version 10.0.40219. Due to this VC++ version I modified the "build_using_cmake.bat" file in line 1:
`call "%VS90COMNTOOLS%/vsvars32.bat"`

I also had to add a "GL" folder and the "gl.h" file

[2017-05-03 13:17] viswph commented on #9
@kepatil Created new issue (#17) with my problem on Windows and deleted the comment here.

[2017-05-03 13:32] kepatil commented on #17
Thanks @viswph, I will try to recreate your setup and see what's going on.

The ICD loader uses GL/D3D data types for arguments to interop functions like clCreateFromGLBuffer, hence the headers are included. It may be possible to remove that dependency.

[2017-05-03 14:15] viswph commented on #17
You're welcome, @kepatil.
I would assume that the dependency to OpenGL is required due to the desired CL/GL interoperability.
It would be nice to have a convenient way to get the required GL headers without needing to install OpenGL or a device driver.

[2017-05-06 14:23] hydra3333 commented on #11
Unsure if this is related, however seems worth mentioning.
Using a newbie's build script based on rdp's windows_build_helpers, the x64 mingw based build for ICD works, however the x32 build for ICD does not.
Logs attached below.
Suggestions welcomed.

successful x64 build log:

[code]

unsuccessful x64 build log: x32 build log:

[code]

[2017-05-07 00:08] hydra3333 commented on #11
I should add that MINGW had been built with these patches
https://github.com/hydra3333/ffmpeg-windows-build-helpers-withOpenCL/tree/master/mingw_build_scripts/patches
courtesy of
https://github.com/DeadSix27/python_cross_compile_script

[2017-06-07 16:08] kepatil commented on #13
@rlim77, did you hear back from your team?

[2017-06-07 16:12] rlim77 commented on #13
I’m sorry. Yes. Please go ahead an close this. Thanks.

[2017-06-27 13:55] #13 closed

[2017-06-27 13:56] kepatil commented on #9
Ping @hypernewbie! Can you verify if pull request #15 fixes your issue?

[2017-07-10 08:06] reger-men commented on #10
Hey,
how did you  solve this issue?

[2017-07-12 10:19] Zhendong404 commented on #10
I didn't solve it, but I found ocl-icd works for me.
https://forge.imag.fr/projects/ocl-icd/

[2017-08-31 00:22] flaub commented on #10
I'm having the same problem

[2017-08-31 00:32] flaub commented on #10
I resolved this. In case it's not clear for anyone else, the headers need to match whatever the latest API version of this library is (2.2 at the time of this writing). So I did:
[code]

[2017-10-03 23:12] hydra3333 opened #23 "won't build any more after commit "Added OpenCL Universal Driver Support for Win10 RS3""
I cross-compile this under ubuntu to run under Windows 10.

Until this commit "Added OpenCL Universal Driver Support for Win10 RS3" it used to work fine using this script:

[code]

Now, using the same build script, it aborts with this error:

[code]

[code]

[2017-10-03 23:19] hydra3333 commented on #23
It looks as is there may be a range of other unspecified dependencies where the location of the .h files may need to be told to us in order to be able to find those files and then cross-compile this tool :(

eg in icd_windows_hkr.c
[code]

[2017-10-04 11:35] kepatil commented on #23
@ofirc Can you help here?

[2017-10-04 17:24] ofirc commented on #23
The Devpkey.h comes from the Windows SDK:
c:\Program Files (x86)\Windows Kits\10\Include\10.0.14393.0\shared\devpkey.h

I never tried to cross compile against a Windows SDK, but can you try pointing the -I (include flag) to the shared folder as well?

[2017-10-04 19:58] Warblefly commented on #23
I tried this (watch out for the case-sensitive devpkey.h header, lower-case 'd', in mingw-w64), but a number of DEFINE_... are missing from mingw-w64. There should be time to experiment with trying them later this week.

[2017-10-05 02:03] hydra3333 commented on #23
OK.   Thanks.
Windows SDK is now a dependency to build it.  :(  Oh well.
At least with devpkey.h if not some others ... is there a list of dependencies and where to source the code ?

[2017-10-09 07:58] SiggyFPGA opened #24 "Building with 2.0 Headers"
Hey all,
I need to compile the ICD Loader / OpenCL libraries using 2.0 headers. When I do it, the compiler complains about not finding "CL_API_SUFFIX__VERSION_2_2" for the dispatcher. Is there any compiler flag / define, that I can use to exclude 2.2 and 2.1 features? The sources for the 2.0 ICD Loader, would also help. Can they be found somewhere on the Web? Going back in the commits of this proj

[2017-10-09 10:28] kepatil commented on #24
I understand your issue but please help me understand your use case better. What is preventing you from using the latest headers to build the ICD loader?

Currently there is no way to limit the ICD loader to a particular OpenCL API version. When we (Khronos) released the ICD loader source we had discussed that since the ICD loader was fully backwards compatible everyone can use the latest ICD vers

[2017-10-09 11:57] SiggyFPGA commented on #24
The problem with my headers is, that there have been some changes made to it. So I can't just grab the newest header version from khronos, as there would be some content missing.

[2017-10-09 12:41] kepatil commented on #24
Can you explain what changes you have made to the headers? Usually the headers are meant to be used without any change. If there is any issue with the headers then I would like to know and fix it.

[2017-10-09 14:50] SiggyFPGA commented on #24
I will try to fix the issues myself. If any problem occur concerning the ICD loader, I will open a new issue specifically targeting that problem. Thanks for your fast replies and great help.

[2017-10-09 14:50] #24 closed

[2017-11-04 02:40] hydra3333 commented on #23
Would there be any possibility of removing windows "installed packages" dependencies (eg the Windows SDK) so that they are not required during the build process ?

That would permit cross-compilation under linux which is otherwise almost impossible.

[2017-11-11 18:03] ofirc commented on #23
We could try and extract the MACROs (and whatnot) that were introduced by the latest patch, from the Windows SDK header files into a:
#include icd_windows_sdk.h

and that should allow cross-compiling.

[2017-11-12 03:21] hydra3333 commented on #23
That sounds like a good plan.

[2017-11-16 21:45] jjulianoatnv opened #25 "Broken handling of 32-bit apps/OS"
Inspecting the OpenCL loader, I noticed that the commit
- https://github.com/KhronosGroup/OpenCL-ICD-Loader/commit/188be6047481ea3c0c2ba5a7583ee13c8c3b2333

introduced a loader bug when running a 32-bit application. An analogous bug was added to the Vulkan loader. The Vulkan bug was fixed by

- https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/commit/266c90b0333c9ba0fa49f8a5198ef8a4

[2017-11-16 21:50] jjulianoatnv commented on #25
In case it is relevant, the Vulkan loader change that introduced the same bug was https://github.com/KhronosGroup/Vulkan-LoaderAndValidationLayers/commit/9beaa801945469eebaae6feb2cb3ac1f85cea292#diff-5b4e070f5ce5cbb7bd1dd11f689d50a8.

It was followed quickly by a couple bugfixes. I have not checked if OpenCL needs similar bugfixes, and I leave that as an exercise for the reader.

For reference, se

[2017-11-17 15:25] kepatil commented on #25
@ofirc Can you take this up since you are the author of the original change?

[2017-11-18 20:52] ofirc commented on #23
@kepatil @hydra3333 I'll prepare a patch that attempts to fix that and update soon.

[2017-11-19 10:13] ofirc commented on #25
@kepatil I am a bit puzzled.
When running a 32-bit application (regardless of the OS) one would use the OpenCL.dll with the OpenCLDriverNameWow embedded inside. When running a 64-bit application one would use the OpenCL.dll with the OpenCLDriverName embedded inside.
This is a compile-time constant not a runtime one.

What exactly is the bug here?

If you try to build the following 32-bit/64-bit ap

[2017-11-20 15:24] kepatil commented on #25
The issue is that the suffix/substring "WoW" is meaningful only when a 32-bit application is running in a 64-bit Windows OS. A 32-bit application running on a 32-bit OS uses non-WoW names. So it has to be partly a compile time and partly a run time decision.

The logic needs to be something like:
[code]
This [thread on SE](https://stackoverflow.com/questions/949959/why-do-64-bit-dlls-go-to-system3

[2017-11-20 15:28] ofirc commented on #25
I see, now it makes sense. I'll submit a patch to fix that.

Thanks!
- Ofir

[2017-11-20 15:54] kepatil commented on #25
Thanks @ofirc. While at it could you check if the Vulkan bugfixes mentioned in https://github.com/KhronosGroup/OpenCL-ICD-Loader/issues/25#issuecomment-345074005 apply to the OpenCL ICD loader too?

Assigning to myself for tracking, awaiting your patch.

[2017-11-20 15:54] kepatil commented on #25
More background for the record:

The older registry keys in HKLM do not have this issue because we use the same name (SOFTWARE\Khronos\OpenCL\Vendors) for both 32-bit and 64-bit ICD entries. The function RegOpenKeyExA does a [registry redirection](https://msdn.microsoft.com/en-us/library/windows/desktop/aa384232(v=vs.85).aspx), automatically mapping HKLM\Software to its WoW64 view when 32-bit app

[2018-01-31 08:24] DeadSix27 commented on #23
@ofirc Is this not something that has to be fixed on mingw's side?: https://sourceforge.net/p/mingw-w64/mailman/mingw-w64-public/thread/CAJ127VwoVEXkZETwzowxXw-fK2O6sLmZF-6Si-7rM5E4q-efCw@mail.gmail.com/

[2018-01-31 09:27] Warblefly commented on #23
On Wed, Jan 31, 2018 at 8:24 AM, DeadSix27 <notifications@github.com> wrote:

​Thanks for picking up on that!

I'm a bit busy with day-job things at the moment, but would welcome the
opportunity to test patches. My near-daily builds are still using the older
version for now.
JW

[2018-02-20 14:16] kepatil commented on #25
@ofirc Were you able to work on the patch?

[2018-02-20 14:24] kepatil commented on #23
Based on https://github.com/KhronosGroup/OpenCL-ICD-Loader/issues/23#issuecomment-361858248, and the SourceForge thread that it links to, it sounds like MinGW needs a patch and not the OpenCL ICD Loader. Can we close this issue @hydra3333, @ofirc?

[2018-02-20 17:32] ofirc commented on #25
@kepatil Yes, started working on it and I'll submit a patch by tomorrow or Thursday 02/20 tops. Sorry for the delay.

[2018-02-20 17:41] ofirc commented on #23
Fine with me. @hydra3333 you could probably work around that at the CMake level until MinGW fixes that. Does it make sense?

[2018-02-22 18:28] ofirc commented on #25
@kepatil see https://github.com/KhronosGroup/OpenCL-ICD-Loader/pull/28 :-)
Let me know what you think.

[2018-02-23 03:44] hydra3333 commented on #23
Yes and OK.
I use DeadSix27's patches and it builds in 64bit however building 32bit dies.  I can forego 32bit.

[2018-02-27 13:17] kepatil commented on #23
Closing based on comments above.

[2018-02-27 13:17] #23 closed

[2018-02-27 13:28] kepatil commented on #11
I am not sure what fix is needed here. I haven't had the bandwidth yet to install MinGW and try building with it. I am happy to take patches from someone who knows what's going on with the build.

Marking this as enhancement for now.

[2018-03-06 14:02] chfast commented on #17
This also affects Linux.

[2018-04-03 22:56] saidwho12 opened #29 "Debian 9 x64 cannot build"
Tried to build the project and got this error:
`makemkdir -p build && cd build && cmake ..
-- The CXX compiler identification is GNU 6.3.0
-- Check for working CXX compiler: /usr/bin/c++
-- Check for working CXX compiler: /usr/bin/c++ -- works
-- Detecting CXX compiler ABI info
-- Detecting CXX compiler ABI info - done
-- Detecting CXX compile features
-- Detecting CXX compile features - done
-- C

[2018-04-04 14:07] kepatil commented on #29
Looks like the OpenCL headers you are building against are not up-to-date. The ICD Loader build requires header files for the highest released version of OpenCL (2.2 as of now). Can you retry your build with headers from https://github.com/KhronosGroup/OpenCL-Headers/tree/master/opencl22/CL?

[2018-04-05 09:34] ltowarek commented on #17
I believe that #30 can solve the OpenGL issue.

[2018-04-10 14:46] kepatil commented on #17
Thanks! I have accepted #30. Closing the issue.

[2018-04-10 14:46] #17 closed

[2018-05-04 12:00] noma opened #31 "Support for environment variable OCL_ICD_VENDORS"
Please add support for non-standard ICD directory via the `OCL_ICD_VENDORS` environment variable already supported by some loaders. Here is a patch from the PoCL project:

https://github.com/pocl/pocl/blob/master/tools/patches/khronos-icd-loader.patch

[2018-05-04 12:10] kepatil commented on #31
The OpenCL working group has carefully considered this in the past and decided not to do it. Please see [my comment on issue #4](https://github.com/KhronosGroup/OpenCL-ICD-Loader/issues/4#issuecomment-244351420).

[2018-05-04 12:10] #31 closed

[2018-05-15 10:14] hydra3333 opened #32 "won't cross-compile any more now that headers changed :( :("
Modified header version to be 1.2 for nvidia compatibility (and changed that ONLY). Nothing else changed.

But now this icd loader will not build :( :(

Cross-compile under ubuntu/mingw64 used to work fine up to yesterday.

Log below.

[code]

[2018-05-15 14:04] hydra3333 commented on #32
OK. The latest headers commit as of about yesterday says you now need to set a header version number or it defaults to version 2.2 and then says how to do it.   They've also moved the git folder structure around a bit.

Nvidia says they are only version 1.2 compatible which is why I specified the version, not knowing nay better.

Are you saying to just build the icd loader with version 2.2 (when i

[2018-05-15 14:17] hydra3333 commented on #32
ok, I let it default to version 2.2 and the ICD loader cross-compiled OK. We'll see what happens at runtime :)

[2018-05-15 14:18] #32 closed

[2018-05-15 14:18] kepatil commented on #32
Yes. That's how the ICD Loader is supposed to work.

[2018-05-15 15:17] hydra3333 commented on #32
ok, great.

[2018-06-08 18:28] pint1022 opened #34 "build error: CL_API_SUFFIX__VERSION_2_2 in icd_dispatch.h"
Hello,
I just checkout repo, and use 'make' to build. It reports the following error:
...
OpenCL-ICD-Loader/icd_dispatch.h:329:38: error: expected ‘=’, ‘,’, ‘;’, ‘asm’ or ‘__attribute__’ before ‘CL_API_SUFFIX__VERSION_2_2’
     const void*          spec_value) CL_API_SUFFIX__VERSION_2_2;

...

can someone shed some lights on this solution?

thanks,

[2018-06-11 05:57] #34 closed

[2018-06-11 17:14] pint1022 opened #35 "make test fails."
Hello,
I have successfully built icd_loader; and also modified /etc/OpenCL/vendors/test.icd to point to the DriverStub.so built from icd_loader. Then I tried to run make 'test. It failed with the following errors:
make -C build test
make[1]: Entering directory '/home/xxxx/xxx/icd/build'
Running tests...
Test project /home/xxxx/xxx/icd/build
    Start 1: OPENCL_ICD_LOADER_TEST
1/1 Test #1: OPENCL_I

[2018-06-11 18:45] pint1022 opened #36 "how to read the traces from KHR_ICD_TRACE calls?"
Hello
is there a guide of how to read traces?

thanks,
steven

[2018-06-11 19:20] kepatil commented on #35
Please see the README for instructions on how to run the tests. You need to manually add an ICD entry for the driver stub that is built along the tests.

[2018-06-11 19:22] kepatil commented on #36
I do not understand your problem. Can you explain what you are trying to do?

[2018-06-11 20:29] pint1022 commented on #35
I did add an ICD entry to the driver stub built from this repo. There is a 'icd_loader_test' generated under bin. However, the readme also describes another way to make test. It seems not working.  If it creates the same icd_loader_test,  I think I can go with that.
thanks
steven

[2018-06-11 20:33] pint1022 commented on #36
Just want to find out how to get the logs from ICD_loader run. The source codes have a lot of calls to the function: 'KHR_ICD_TRACE'. where does it dump the messages?

best
steven

[2018-06-26 01:29] ChrisCummins opened #37 "Syntax error in icd_dispatch.h under GCC 5.5.0"
Hi,

Building this project fails for me:

[code]

This is building under 16.04.4 LTS using Linuxbrew's GCC:

[code]

Cheers,
Chris

[2018-07-13 14:56] kepatil commented on #25
Closing as #28 was merged.

[2018-07-13 14:56] #25 closed

[2018-10-03 09:32] tataganesh95 commented on #37
@ChrisCummins Where did you include `-DCL_TARGET_OPENCL_VERSION=220`?

[2018-10-03 09:51] tataganesh95 commented on #35
@pint1022 Were you able to figure out a solution for this issue?

[2018-10-04 06:18] ChrisCummins commented on #37
I believe that you can pass this as a flag to cmake. I don't actually use the included cmake build process, I use Bazel. If anyone's interested, here's my [BUILD file](https://github.com/ChrisCummins/phd/blob/master/third_party/libOpenCL.BUILD#L40-L58) for this proejct.

[2018-10-08 06:54] SilverCamel opened #38 "Some bugs encountered while building with VS 2017 64bit"
1. The file 'test/loader_test/test_create_calls.c' needs #include <stdlib.h>', needed by the 'malloc' function, otherwise 'write access violation' error is given.

2. In the file 'test/driver_stub/cl.c', at line no. 510 for the function call 'test_icd_stub_log("clCreateImage2D(' the eighth parameter 'errcode_ret' is missing.

[2018-10-08 10:40] kepatil commented on #38
@SilverCamel Can you please create a pull request for this? The proposed fixes sound good.

[2018-10-08 16:48] SilverCamel commented on #38
Hello kepatil,

I am new to Github, I only joined it today.  Can you please tell how to go about making a pull request and what purpose does it solve. Thanks.

regards

[2018-10-08 17:16] kepatil commented on #38
A pull request will let me see the exact change you want to make to the source code. I will then be able to review and accept your contribution.

Pull requests are explained at https://help.github.com/articles/creating-a-pull-request/.

Since you do not have write permissions on this project repository you will need to follow the fork-and-pull model. See https://guides.github.com/activities/forkin

[2018-10-09 10:16] SilverCamel commented on #38
Hello kepatil,

I have made a pull request for the aforementioned topic. Please check. Thanks.

regards

[2018-11-08 20:46] kepatil commented on #36
Hi @pint1022, apologies for the late response to your comment above. I did not notice that you had replied. :-(

The trace calls print to stderr. You can try turning them on at https://github.com/KhronosGroup/OpenCL-ICD-Loader/blob/master/icd.h#L144.

A fair warning though: The trace calls were put only for debugging the ICD loader and are not for production use. So they are not as regularly exerc

[2018-11-08 20:46] #36 closed

[2018-12-02 01:22] mancoast opened #41 "Appveyor Continuous Integration"
Greetings,

Please enable cloud compilation for repeatable build steps.

Thanks!
coast

[2018-12-10 03:27] baixiaohub opened #44 "clCreateContext return unknown error code when create gl sharing context."
When I switch code from intel opencl sdk to the icd loader, the clCreateContext fails, but intel sdk works fine when calling clCreateContext with a GPU type device.
If I call clCreateContext without gl sharing properties, icd loader works fine.

Sample code as below:
[code]

My Environment is: **windows 10**, **NVIDIA gtx1050ti** with driver version **R398.36 (r398_35-2) / 22.20.16.4735 (7-7-2017)

[2019-01-22 11:26] winehub opened #47 "Why most distribution use https://github.com/OCL-dev/ocl-icd/"
Why this opensource split off.

There is one question left for me:
Why the khronos group neglects such a project and the opensource becomes independent.

[2019-01-26 00:31] kepatil commented on #35
I am not sure what the issue is. The "make test" step works on my Ubuntu 16.04 machine. You can try to run the test manually with `./build/bin/icd_loader_test` and see if that works.

[2019-01-26 00:53] kepatil commented on #2
Fixed with c262c83.

[2019-01-26 00:53] #2 closed

[2019-01-26 01:04] kepatil commented on #44
@baixiaohub I am unable to see any issue in the code you have posted. Can you provide a full sample with detailed steps that I can follow to build and run on my machine? What steps are you following to switch between Intel SDK and this ICD loader?

Can you also try with the latest source in the OpenCL-ICD-Loader repository? Many fixes have went in recently so let's make sure we are using the lates

[2019-01-27 03:49] bashbaug opened #48 "Environment Variable Support"
There have been a few issues requesting support for various OpenCL ICD loader environment variables.  For example:

* https://github.com/KhronosGroup/OpenCL-ICD-Loader/issues/31
* https://github.com/KhronosGroup/OpenCL-ICD-Loader/issues/4

We've seen similar requests on the Intel OpenCL forums, such as:

* https://software.intel.com/en-us/forums/opencl/topic/802064

I know these issues have been c

[2019-01-31 08:15] bashbaug commented on #35
@pint1022 @tataganesh95 I've been working on fixes for ICD loader test failure, among other things.  One issue I found was that the `clCreateImage2D` test wasn't logging all of the parameters, leading to a mismatch.  I have a fix staged here (need to do a bit more testing before creating a PR), but you may want to see if it works for you:

https://github.com/bashbaug/OpenCL-ICD-Loader/tree/icd_war

[2019-02-01 13:00] eribell opened #49 "compile error file missing"
/home/user/Desktop/OpenCL-ICD-Loader/icd.h:53:10: fatal error: CL/cl.h: No such file or directory
 #include <CL/cl.h>
          ^~~~~~~~~

[2019-02-13 20:32] bensallen commented on #48
I agree with @bashbaug in this request. Hard coding the location to /etc/OpenCL/vendors makes alternative path installs difficult, eg. installing to a shared filesystem.

Currently we are hex-editing the loader in Intel's OpenCL SDK to make the install suitable for our environment. This obviously is not particularly ideal.

[2019-02-13 20:40] jeffhammond commented on #4
The end user installation use case is that I cannot install into `/etc` without admin privileges, so I am unable to do a userspace installation of OpenCL on many systems.  Getting admin on many HPC systems is a huge deal because access to the global filesystem has profound security implications.  I am straight up unable to use OpenCL on many systems because of Khronos doesn't value user experience

[2019-02-14 00:36] keryell commented on #4
It seems to me like a good use case too.
That said, if there are other open-source ICD implementations providing this feature, why not just using other ICD?

[2019-02-14 01:52] helloworld922 commented on #4
At the time I posted this request, there was only one ICD loader I tested that supported it, and that was the AMD APP SDK 2.8 and older. Anything newer or an ICD loader bundled with another vendor's OpenCL (Intel closed and open source versions, NVidia, POCL, etc.) either used the reference loader or did not support this type of feature. We have since moved away from using OpenCL in our codebase s

[2019-02-15 17:29] jeffhammond commented on #4
@keryell Please think about how an end user behaves.  They start with the Linux package manager and only change what is required.  Dropping a binary blob into `$HOME` isn't hard.  Please don't ask them to build an ICD from source to use that blob.

[2019-02-25 14:24] b-sumner opened #52 "Need ProductVersion string?"
In the StringInfoFile Block in OpenCL.rc, there is a FileVersion string but no ProductVersion.  Should there be a ProductVersion string?  Some releases want to control the FileVersion, but leave the ProductVersion alone.

[2019-03-13 19:37] sarahM0 commented on #34
Hi,
I have the same issue. I'm on a linux machine and I'm using https://github.com/KhronosGroup/OpenCL-Headers which is suppose to work with all openCL versions so I don't know what did @pint1022 change. Any ideas?

[2019-03-13 23:37] pint1022 commented on #34
@sarahM0 you might have the mis-matching version between 'ICD_Loader' source code to build and OpenCL lib installed on the system.

[2019-03-14 13:35] sarahM0 commented on #34
Thanks @pin1022!

[2019-03-22 20:49] trecakov opened #54 "icd_loader_test test fails"
make -C build test
make[1]: Entering directory `/software/packages/OpenCL-ICD-Loader/build'
Running tests...
Test project /software/packages/OpenCL-ICD-Loader/build
    Start 1: OPENCL_ICD_LOADER_TEST
1/1 Test #1: OPENCL_ICD_LOADER_TEST ...........***Failed    0.11 sec

0% tests passed, 1 tests failed out of 1

Total Test time (real) =   0.12 sec

The following tests FAILED:
	  1 - OPENCL_ICD_LOAD

[2019-03-22 21:08] bashbaug commented on #54
I think I debugged and fixed this a while back.  I've been meaning to clean up my changes and create several PRs since I have a bunch of changes combined together right now.

Can you try this small change to the clCreateImage2D test?  I believe it fixed the failure.

https://github.com/bashbaug/OpenCL-ICD-Loader/commit/6c1699eab7ea7b61b26aa8d5cd8c6f9d1f5cf7d4#diff-91d41ad6f2fc7984516f35fda9b0fd1bR

[2019-03-23 02:48] trecakov commented on #54
I tried it, but it doesnt seem that fixes it. Any other suggestions?

[2019-03-25 15:36] trecakov commented on #49
@eribell Check this, it may help.
https://github.com/KhronosGroup/OpenCL-ICD-Loader/issues/10

[2019-03-26 14:52] bashbaug commented on #54
Ah, great, the fix I sent previously was committed in https://github.com/KhronosGroup/OpenCL-ICD-Loader/commit/21aa894095a3d3ac7bb5c6ddb421382019969d62, so it's not needed anymore.

That does mean that I'm not sure what's causing your issue though, unfortunately.  Since it says that the "app log" and "stub log" differ could you try diff'ing the two to see what the difference is?

The two files are

[2019-03-26 19:17] trecakov commented on #54
The output is:

1,200d0
< clGetDeviceIDs((nil), 0, 1, 0x60eab8, (nil))
< Value returned: -32
< clCreateContext((nil), 1, 0x60eab8, 0x40839d, (nil), (nil))
< Value returned: (nil)
< clReleaseContext((nil))
< Value returned: -34
< clCreateContextFromType(0x60e3e0, 0, 0x40839d, (nil), (nil))
< Value returned: (nil)
< clCreateCommandQueue((nil), (nil), 0, (nil))
< Value returned: (nil)
< clCreateBuffe

[2019-03-27 05:03] bashbaug commented on #54
If this is the only output you are seeing then it looks like one of the files is empty.

Have you added the tester stub as an ICD as described in the README?

We really need to find a way to do testing without requiring modifications to /etc...

[2019-03-27 05:19] bashbaug opened #55 "Consider: Remove Batch File and Makefile and Switch Entirely to CMake"
I'm opening this issue to discuss removing the included Makefile (for Linux) and batch file (for Windows) and switching entirely to a CMake build system instead.  This is inspired by several related issues and pull requests.  For example:

* https://github.com/KhronosGroup/OpenCL-ICD-Loader/pull/22
* https://github.com/KhronosGroup/OpenCL-ICD-Loader/pull/26
* https://github.com/KhronosGroup/OpenCL

[2019-03-27 19:51] trecakov commented on #54
Yes, icd_test_stub_log.txt is empty.
Yes, I had added tester stub as an ICD, but I did not place it in /etc/ directory because I did not want to put anything there. I just tested id, and it worked.

Thanks for the help! @bashbaug

[2019-03-27 19:51] #54 closed

[2019-04-10 18:18] kepatil commented on #52
I am not sure. Are there any cons if we add ProductVersion? Will the ICD installation guidelines need an update too?

[2019-04-25 16:14] mmha commented on #48
Here's another use case: I intend to submit [the headers](https://github.com/mmha/conan-opencl-headers), [the ICD](https://github.com/mmha/conan-opencl-icd-loader) and cl.hpp (WIP) to [Bincrafters](https://github.com/bincrafters/) for inclusion in their [Conan repository](https://bintray.com/bincrafters/public-conan/).

Having environment variable support is *essential* for the ICD loader to find

[2019-05-03 23:33] mmha commented on #11
I recently added w64-MinGW SEH gcc 4.9 to 8 to the AppVeyor CI matrix of my [Conan package](https://github.com/bincrafters/conan-khronos-opencl-icd-loader). For anyone interested in building for MinGW by themselves, there is a patch series that fixes compilation to `x86_64-w64-mingw32` from both native hosts and Linux hosts (since the link above is broken).

For others who "just want the ICD loade

[2019-05-07 21:53] bashbaug commented on #41
I created PR #63 to add Appveyor CI.

[2019-05-08 06:53] bashbaug commented on #38
Since pull request #39 has been merged, can this issue be closed?  Thanks!

[2019-05-08 08:35] sirzooro commented on #11
@mmha is there is any MinGW issue for this? It would be nice if they could fix it, and start delivering compiled OpenCL ICD loader.

[2019-05-08 14:46] kepatil commented on #38
Ah, thanks for the reminder! Closing.

[2019-05-08 14:46] #38 closed

[2019-05-08 14:58] bashbaug commented on #11
This issue was automatically closed when #64 was merged.  Reopening.

[2019-05-11 07:46] mmha opened #67 "Add .clang-format"
We should enable consistent and testable formatting with a .clang-format.

I'm not particularly picky on the chosen style, as long as we define one :)

[2019-05-11 07:57] mmha opened #68 "Add .clang-tidy and enable higher warning level"
The number of checks that we can use is highly limited since this is a C project, not C++ and we *have* to do a few things that are UB strictly speaking (like `void *` <-> function pointer casts), but there are a few things we can enable that are still useful. Examples:

* [readability-identifier-naming](https://clang.llvm.org/extra/clang-tidy/checks/readability-identifier-naming.html)
* [readabil

[2019-05-15 15:26] kpet opened #72 "Move the dispatch table declaration to OpenCL-Headers?"
The various function pointer types as well as the declaration for the dispatch table in `icd_dispatch.h` would be easier to reuse directly in OpenCL implementations if they were part of OpenCL-Headers.

It seems to me that only the declaration for the structure types at the bottom of the file should be part of the ICD loader itself.

Is there a good reason to not do that?

[2019-05-16 22:05] bashbaug commented on #72
Interesting idea.  This makes sense to me.  I think it could be useful for some other projects as well, and not just for OpenCL implementations.

At some point I'd also like to investigate generating things like the function pointer types automatically from the API cl.xml file.

[2019-05-16 22:08] bashbaug opened #73 "Reduce Calls to khrIcdInitialize"
I'm trying to figure out why the ICD loader is calling **khrIcdInitialize** in the places where it is, and if some of the calls can be eliminated.

For reference, the current list of OpenCL APIs that are calling **khrIcdInitialize** is:

* clGetPlatformIDs
* clGetPlatformInfo
* clGetDeviceIDs
* clCreateContext
* clCreateContextFromType
* clUnloadPlatformCompiler
* clGetExtensionFunctionAddressForP

[2019-05-16 22:57] mmha commented on #72
A while ago I wrote a small clang tool for a similar use case. It takes a header with (member) function declarations generates a cpp file with a table of function pointers that are either eagerly initialized after loading the shared object (emulating the PLT, so no runtime overhead) or lazily through static variables ([example output](https://gist.github.com/mmha/ba4fa54affbd79a1236bcd4d8daf126a))

[2019-05-21 09:24] kpet commented on #72
@bashbaug Thanks for the feedback. I'll create PRs when I find a bit of time to spend on this. Agree a lot of this can be generated.

@mmha That sounds cool but I'm wondering whether that's not a bit overkill for what we're doing here, especially given that we have a description of the API in machine-parseable form. Also, generating the tables comes with the interesting issue of guaranteeing that

[2019-05-21 22:01] #55 closed

[2019-06-12 15:31] bashbaug commented on #49
Hi @eribell,

We've made a lot of enhancements to the README to describe the build process in more detail since you've filed this issue.  We've also enabled CI builds via Travis CI and you may find it helpful to look at the [Travis CI config file](https://github.com/KhronosGroup/OpenCL-ICD-Loader/blob/master/.travis.yml) to see what commands it uses to build.

I believe the information above is su

[2019-06-12 15:31] #49 closed

[2019-06-12 16:29] bashbaug commented on #41
AppVeyor CI was added via commit 25e7faa6de5da4edeed48e4d8763730f29fdd3ef and is enabled for this repo, so I am closing this issue.  Thanks!

[2019-06-12 16:29] #41 closed

[2019-06-12 17:48] mancoast commented on #41
Thanks!

[2019-06-18 15:59] #52 closed

[2019-06-20 05:08] bashbaug opened #76 "Improved Unit Testing Feedback"
I've been experimenting with alternate ways to test the OpenCL ICD loader, with the following goals in mind:

1. Use a modern unit testing framework.
1. Test as much as possible without needing to manually setup a stub ICD.
1. Automatically generate as much test content as possible.

I have something working and I'm looking for feedback before proceeding further, mostly because there is still some

[2019-07-09 22:29] bashbaug commented on #73
If there are no objections, I will create a pull request to remove the calls to `khrIcdInitialize` from all APIs except:

* clGetPlatformIDs
* clCreateContextFromType
* clGetExtensionFunctionAddress

Thanks!

[2019-07-09 22:59] bashbaug commented on #35
This is an old issue that hasn't been updated in approximately six months.  Can we close it?  Thanks!

[2019-07-16 18:27] bashbaug commented on #48
PR #77 was just merged, so this ICD loader now supports environment variables to enumerate ICDs from a location other than `/etc/OpenCL/vendors`.  Please see the [README](https://github.com/KhronosGroup/OpenCL-ICD-Loader#table-of-debug-environment-variables) for details.

I'd still like to add support for controlling debug output via environment variables but this has lower priority, I think.

We'

[2019-07-17 15:44] bashbaug opened #82 "use lowercase windows.h for cross-compilation"
See: https://github.com/KhronosGroup/OpenCL-ICD-Loader/commit/82bda038c8b5e3d5390e0c547a2969f4e74c26ef#commitcomment-34329163

In short, the Windows build is currently broken when cross-compiling due to the capital `W` in:

[code]

We need to user a lower-case `w` instead:

[code]

[2019-07-19 09:53] #82 closed

[2019-07-19 14:49] dooglz opened #84 "AMD opencl uses REG_MULTI_SZ for OpenCLDriverName"
I Have a windows system with both Nvidia and AMD gpus, both individual vendor opencl driver work when used directly. Using this ICD the amd driver fails to be detected because AMD have used
**REG_MULTI_SZ** rather than **REG_SZ** for the OpenCLDriverName.

I know this is technically AMD's fault as they are going against the docs here
https://github.com/KhronosGroup/OpenCL-Docs/blob/master/ext/cl_k

[2019-07-23 16:33] saleelk commented on #84
The issue has been fixed in AMD trunk and new drivers should ship with REG_SZ

[2019-08-13 15:58] b-sumner commented on #84
This can be closed since it is no longer necessary.

[2019-08-16 14:40] bashbaug commented on #84
Closing as per the [comment above](https://github.com/KhronosGroup/OpenCL-ICD-Loader/issues/84#issuecomment-520896371).

[2019-08-16 14:40] #84 closed

[2019-08-23 17:57] daveh-lunarg opened #87 "Review Vulkan and OpenXR common loader issue"
There's a Windows loader issue identified for Vulkan and OpenXR, which may also apply to OpenCL via common loader design.  Please review https://gitlab.khronos.org/vulkan/Vulkan-Loader/issues/1 and  https://gitlab.khronos.org/openxr/openxr/issues/1205 for a description.

Also see https://gitlab.khronos.org/openxr/openxr/merge_requests/1511 for a proposed fix.

[2019-10-04 22:17] baryluk commented on #4
How is it a security hole and who considers it this way? Application can load arbitrary libraries anyway.

[2019-10-04 22:21] baryluk commented on #4
Never mind, it OCD_ICD_VENDORS was implemented in https://github.com/KhronosGroup/OpenCL-ICD-Loader/pull/77  (it has a bit different semantics that some existing loaders, but it is reasonably close).

[2020-02-03 14:55] sbobko opened #93 "'wcstombs': This function or variable may be unsafe"
Hello,
I tried to build ID_loader on Windows ver. 1903 (SDK 10.0.18362.0 and WDK 10.0.18362.1)
and got the following error:
`OpenCL-ICD-Loader\windows\icd_windows_dxgk.c(142): error C4996: 'wcstombs': This function or variable may be unsafe. Consider using wcstombs_s instead. To disable deprecation, use _CRT_SECURE_NO_WARNINGS. See online help for details.`
Can you help me solve this problem?

[2020-02-03 22:54] bashbaug commented on #93
Hello Sergey,

I don't think I've seen this warning since I usually build the ICD loader without WDK support.

A few possible ways to fix it:

1. Switch to `wcstombs_s`, as suggested by the warning.
2. Silence the warning by #defining `_CRT_SECURE_NO_WARNINGS`.  This could be done by adding a line to the CMake file:

[code]

@nikhiljnv, any other suggestions?

Thanks!

[2020-02-04 15:23] sbobko commented on #93
Thanks for the quick response.
This will really help, but I would like to solve the problem without editing the code locally. if it is necessary I can correct it myself and submit the merge request.

[2020-02-04 15:50] nikhiljnv commented on #93
I would prefer using secured version of API to avoid any security risks.

[2020-02-09 13:08] #72 closed

[2020-02-11 11:43] sbobko commented on #93
I'm also for a secure API :) Is it worth waiting for updates?

[2020-03-23 04:25] ggghamd opened #96 "make fails when following the instruction"
Instruction mention to define OPENCL_ICD_LOADER_HEADERS_DIR to include header and has no effect so fails. Please test before publishing, otherwise it is a garbage.
root@sriov-guest:/git.co/khronos# env | grep OPENCL
OPENCL_ICD_LOADER_HEADERS_DIR=/git.co/khronos/OpenCL-Headers/CL/
root@sriov-guest:/git.co/khronos# cd OpenCL-ICD-Loader/
root@sriov-guest:/git.co/khronos/OpenCL-ICD-Loader# pwd
/git.co

[2020-03-23 05:49] bashbaug commented on #96
Hi, the `OPENCL_ICD_LOADER_HEADERS_DIR` should be where you've cloned the OpenCL headers, and does not need the `CL` suffix.  Also, this should be a CMake variable, not a shell environment variable.  Looking at your output above, can you try:

[code]

You can also refer to the build setup we use for the Travis CI builds in .travis.yml, if that helps.  Thanks!

[2020-03-24 12:16] hydra3333 opened #97 "build error: 'DEVPKEY_Device_ClassGuid' undeclared"
Just now encountered this build error.
Cross-compiling under Ubuntu18.04 for Win10x64.

[code]

[2020-03-24 12:19] hydra3333 commented on #97
PS it worked just the other day.

[2020-03-27 02:17] hydra3333 commented on #97
seems to work now

[2020-03-27 02:17] #97 closed

[2020-03-27 11:16] ormshaw opened #99 "Failes to compile in Fedora 32"
openCl failes to compile in Fedora 32 due to multiple definitions of ret_val in the loader_test.

I've attached
[diff.txt](https://github.com/KhronosGroup/OpenCL-Headers/files/4392503/diff.txt)

 the diffs to have a common ret_val, if this was what was intended, Although from a quick look at the code making each one static may also work

[2020-03-27 11:19] kpet commented on #99
Thanks for flagging this. No good reason for `ret_val` or `ret_mem` to not be local variables. @ormshaw Do you want to propose a PR?

[2020-03-27 11:23] alycm commented on #99
A similar issue came up a few days ago for the ICD: https://github.com/KhronosGroup/OpenCL-ICD-Loader/pull/98

[2020-03-27 11:28] kpet commented on #99
Yes, just spotted it as well. This is the same issue (I've transfered this one from the headers to the ICD repo).

[2020-04-01 06:57] bashbaug commented on #93
I believe this issue will be fixed by #102 - thanks!

[2020-04-06 16:16] bashbaug commented on #99
I just merged https://github.com/KhronosGroup/OpenCL-ICD-Loader/pull/101, so I think this issue can be closed now?

[2020-04-06 16:17] bashbaug commented on #96
Hi @ggghamd, can you please confirm that you were able to build the ICD loader following the instructions above?  Thanks!

[2020-04-07 01:08] ggghamd commented on #96
I was able to compile from different branch, i think we can close this one.

[2020-04-11 17:32] isuruf opened #104 "OCL_ICD_VENDORS doesn't work if there's no / at the end"
The README.md file has the example,

[code]
but this should be,
[code]

Or I could fix https://github.com/KhronosGroup/OpenCL-ICD-Loader/blob/master/loader/linux/icd_linux.c#L87-L93 to add a `/` at the end.

[2020-04-11 21:16] alycm commented on #104
Hello, thank you for the bug report.

Not entirely helpful as it isn't merged, but I think that https://github.com/KhronosGroup/OpenCL-ICD-Loader/pull/91 fixes this issue?

[2020-04-11 21:21] isuruf commented on #104
Thanks.

[2020-04-11 21:28] alycm commented on #104
I've reopened this issue as until that PR is merged the issue isn't fixed.

[2020-04-13 13:12] TheShermanTanker opened #105 "How to build ICD with CMake?"
I know this isn't the best place to ask a question like this, but I've not been able to find help on google, and there's nowhere else for me to ask

Following the steps in the readme, I'm building the ICD with cmake:

Clone this repo:
 git clone https://github.com/KhronosGroup/OpenCL-ICD-Loader

Obtain the OpenCL Headers, if you are not planning to use system OpenCL headers. Headers may be obtaine

[2020-04-13 13:23] TheShermanTanker commented on #105
Ok, so apparently all I had to do was call the command "make" in the build folder. But that now gives me the error:
`D:\OpenCL\OpenCL-ICD-Loader\build>make
make[1]: Entering directory '/cygdrive/d/OpenCL/OpenCL-ICD-Loader/build'
make[2]: Entering directory '/cygdrive/d/OpenCL/OpenCL-ICD-Loader/build'
Scanning dependencies of target OpenCL
make[2]: Leaving directory '/cygdrive/d/OpenCL/OpenCL-ICD-L

[2020-04-13 13:30] TheShermanTanker commented on #105
It seems like it's a problem in icd.c, with the variable PATH_SEPARATOR

[2020-04-14 13:01] #105 closed

[2020-04-14 13:03] TheShermanTanker opened #106 "Trying to build the Loader causes error"
I've been trying to build it with instructions from readme, but whenever I try to build in step 5, I get this error:

[code]

[2020-04-14 14:37] Kerilk commented on #106
You seem to be using Cygwin.
You can try editing the https://github.com/KhronosGroup/OpenCL-ICD-Loader/blob/master/loader/icd_platform.h file to add a `__CYGWIN__` section.

[2020-04-15 05:04] TheShermanTanker commented on #106
Thanks, will try later when I have access to my PC. Question: Will adding the __CYGWIN__ macro affect compatibility with any platforms or will it still be cross compatible?

[2020-04-15 05:19] TheShermanTanker commented on #106
Ok, it worked, but where do I find the build results? I can't seem to find any executables or the OpenCL.lib library

[2020-04-15 14:37] Kerilk commented on #106
The loader is a dynamic library, so, depending on the build system, you should have obtained either a libOpenCL.so or a libOpenCL.dll file.

[2020-04-16 04:10] TheShermanTanker commented on #106
I got a libOpenCL.dll.a file, is this the library to link against?

I'm trying to make an application that has GPU access (For raytracing work), with the end goal of compatibility with any Windows device (As long as the machine has OpenCL drivers installed). So far all the OpenCL SDKs don't give me a working OpenCL.lib file though, as my code always crashes with an error of negative 1 million beca

[2020-04-16 06:11] bashbaug commented on #106
Hello, this makes it sound like the ICD loader is working properly, but either you do not have any OpenCL ICDs installed, or the ICD loader cannot find them for some reason.

Do you have any other way to enumerate the OpenCL platforms installed on your system?

You may also want to enable ICD loader tracing, to see if that provides any clues what is happening:

https://github.com/KhronosGroup/Open

[2020-04-16 06:17] bashbaug commented on #104
I just merged #91.  If that is sufficient then I think we can close this issue.  Thanks!

[2020-04-16 06:25] TheShermanTanker commented on #106
That's odd, from what I understand the driver itself (For Windows at least) is a file named OpenCL.dll, while the loader that connects the application to the driver is a file named OpenCL.lib. I've done a check and OpenCL is indeed a driver on my computer, as confirmed by OpenCL.dll in System32, and NVIDIA listing OpenCL as a driver. When I used the AMD SDK the application did work, but my happine

[2020-04-16 12:29] isuruf commented on #104
Yes, it is enough. Thanks

[2020-04-18 13:25] TheShermanTanker commented on #106
Bump

[2020-04-20 18:11] bashbaug commented on #106
Hi, were you able to enable ICD loader tracing?  If so, could you please include the tracing output on this issue?

If possible, could you also please include a list of DLLs loaded by your application when it reports that no OpenCL platforms are on your system?  This will tell us whether your ICD loader is being loaded and whether any vendor ICDs are loaded.  You can use a utility like this one to

[2020-04-20 18:12] bashbaug commented on #104
Great, thank!  Closing.

[2020-04-20 18:12] #104 closed

[2020-04-22 02:58] hydra3333 opened #107 "hello, looks like something broke circa commit 47f05fad43621aa1637427d857d639d0ecfbb7cd"
Hello.
Something broke within the last 10 days. It used to work.
Probably 47f05fad43621aa1637427d857d639d0ecfbb7cd
Cross-compiling under ubuntu 18.04.3 for target Win10x64.
[code]

[2020-04-23 23:47] bashbaug commented on #107
Hello, thanks for the report, and I'm sorry to hear that we broke your build.

Since these changes are needed for OpenCLOn12 I don't think we can back them out.  Can you say more how your cross-compilation toolchain works?  Is there an update that might provide the missing header file?

Worst-case we could selectively disable this part of the build, but because ICD loaders without this functionali

[2020-04-23 23:48] #93 closed

[2020-04-24 00:33] alycm opened #109 "Test entry points that came after OpenCL 1.2"
There are some simple smoke tests in this repo, but only entry points up until OpenCL 1.2 are tested.  OpenCL 2.0, 2.1, 2.2, and extensions added in that timeframe are not tested.

Adding tests is very formulaic, I added two for experimental entry points here: https://github.com/KhronosGroup/OpenCL-ICD-Loader/pull/108

The flip side of them being so formulaic is that they really are just smoke tes

[2020-04-24 07:06] hydra3333 commented on #107
Hi. Thanks for your cool work.

`Can you say more how your cross-compilation toolchain works?`
Sure.
In a VM with Ubuntu 18.04.3 -
* install Mingw64,
* build GCC under Mingw64 so the target of compilation with it is Win10x64
* run a script which uses these to build OpenCL-ICD-Loader as a dependency library for a static ffmpeg.exe
* copy the resulting ffmpeg.exe to a Win10 machine to run.
* below i

[2020-04-27 03:42] hydra3333 commented on #107
Oh dear.

If we copy windows.management.deployment.h" and use that in the cross-compile build process,
we soon discover that it contains other includes which are also missing files.
eg AsyncInfo.h

ICD_LOADER now has specific dependencies for which there are no readily available sources to use in cross-compilation.

Is there another way ?

[2020-04-27 06:10] bashbaug commented on #107
Thanks for a very detailed reply!

Regarding this step:

Does your build process only use the static import library `OpenCL.lib` (or in your case `libOpenCL.dll.a`)?  Specifically, can you please confirm that you never use or distribute the `OpenCL.dll` you build?

I'm guessing this is the case since you are currently building with `-DOPENCL_ICD_LOADER_REQUIRE_WDK=OFF`, but I'd like to double-chec

[2020-04-27 06:33] MathiasMagnus commented on #107
AFAICT the missing header is part of the Windows Runtime, hence the loader picks up the Windows SDK as a dependency. The dependency is not only for bringing in types and defines but there is significant new logic for OpenCLOn12, and without calling out the gist of it, it's hard to imagine making it work without COM/WRL/WinRT, so the Win SDK in general.

The Windows SDK is installed under Program F

[2020-04-27 12:25] jenatali commented on #107
Oof, yeah, MinGW isn't going to support the WinRT headers anytime soon.

I think the only two options here are:
1. Attempt to do what was done with DxgKrnl support and inline the necessary definitions to keep the code working. I haven't looked at how bad that'd be, but my guess is it's probably pretty bad.
2. Add a compile switch for building without OpenCLOn12 support. We could probably even dete

[2020-04-27 14:12] MathiasMagnus commented on #107
@hydra3333 Is it not possible to build ffmpeg using Clang on Windows? The LLVM toolchain is pleasantly schizoid in the sense it can behave like GCC/MSVC alike while being able to produce binaries for most platforms.

We had a project where the possibility of cross-compiling of the OpenCL parts came up, but the ICD (by definition) is platform specific. It's not the best candidate for cross-compilin

[2020-04-27 14:50] jenatali commented on #107
Just to add one more thing while waiting for a response... @hydra3333: If you are truly building a "static" ffmpeg.exe like you say, using a static lib of OpenCL, that's a bad idea. One of the primary reasons for dynamic linking is to allow implementations to change/improve out from under you, as long as they support the same API. As a result, your statically-linked ffmpeg wouldn't be able to take

[2020-04-28 07:02] hydra3333 commented on #107
This is true.

[2020-04-28 07:05] hydra3333 commented on #107
I grabbed a temporary copy of Windows.Management.Deployment.h  from the development win10 VM MS make available, it still didn't build due to it containing further includes ;)

[2020-04-28 07:10] hydra3333 commented on #107
OK. I was told the only choices were
(a) to either cross-compile-link a static ffmpeg to the ICD loader (good and easy, it dynamically loads nvidia's OpenCL.dll), or
(b) to use the process of
- temporarily manually copy the currently installed OpenCL.dll installed by the prevailing nvidia driver over to ubuntu
- use gendef & dlltool to create a libOpenCL.a and link to that

[2020-04-28 07:15] hydra3333 commented on #107
I'm not sure it is, especially with its tons of extenal dependencies.
Even MABS https://github.com/m-ab-s/media-autobuild_suite sets up a mingw environment under windows to do it.

[2020-04-28 07:20] hydra3333 commented on #107
yes.

[2020-04-28 07:23] hydra3333 commented on #107
It'd be possible to go even further and not build the real ICD loader, and just build some stubs that have the correct import signature to generate the correct imports for ffmpeg.exe.

ah.
back to the drawing board for me, the way it was put to me, that's what linking to loader was doing :(

[2020-04-28 07:58] hydra3333 commented on #107
So, sorry for your inconvenience.

[2020-04-28 09:18] MathiasMagnus commented on #107
@hydra3333 Regarding some of your responses:

That way you'll end up importing all the symbols into your executable, in which case it will be ffmpegs responsibility to be updated alongisde GPU drivers and always ship the latest ICD. Since this is very unlikely, vendors highly encourage dynamically linking the ICD loader. For development purposes IMHO it's fine, but not ideal for deployment and dis

[2020-04-28 13:22] jenatali commented on #107
@MathiasMagnus I think you're wrong about this:

That'd be an acceptable approach I think, similar to what I had suggested around building a stub ICD loader. That should cause the resulting ffmpeg.exe to be dynamically linked against the ICD loader, not statically linked with the loader or an actual ICD. As I understand it, there does not exist any tool which can "downconvert" a DLL to a static li

[2020-04-28 13:28] jenatali commented on #107
Also, @hydra3333 if your response to this is correct:

Then your ffmpeg.exe isn't actually statically linked against the loader, just against an import lib. You should be able to confirm by looking at the import table of the resulting exe. MSVC's link.exe can show this (`link.exe /dump /imports <filename`), and I'm sure there exist other tools in the LLVM or MinGW that can do similar.

If that end

[2020-04-29 01:40] hydra3333 commented on #107
@MathiasMagnus  thank you very much indeed.

I have been following others' recipes and not worrying to much until something breaks to fix, learning that way, and you have clarified very clearly and well.

I am very excited to see this and certainly take a look at it.
Perhaps I can live with the ever-expiring freely available  MS `Windows 10 dev environment` download.

[2020-04-29 01:53] hydra3333 commented on #107
Yes indeed.  Thank you once again !

`link.exe /dump /imports `

[code]

[2020-04-30 06:30] bashbaug commented on #107
Hi @hydra3333 , I just created PR #110 that adds a CMake option to disable support for the OpenCLOn12 ICD to simplify build dependencies.  Can you give it a try to see if it works with your toolchain?  You'll need to explicitly enable the option since the default is to support the OpenCLOn12 ICD.  You can do this the same way you were explicitly setting `OPENCL_ICD_LOADER_REQUIRE_WDK=OFF` previous

[2020-05-01 03:14] hydra3333 commented on #107
@bashbaug OK, thanks I will.

In regard to OpenCLOn12, I gather this is "OpenCL 1.2 over DX12" ? per https://www.khronos.org/assets/uploads/apis/OpenCL-3.0-Launch-Apr20.pdf

I suppose I'm not missing anything for my use case by the looks.

[2020-05-01 04:12] hydra3333 commented on #107
:) I'm doing something wrong :)  Nearly there.

[code]

[patches.zip](https://github.com/KhronosGroup/OpenCL-ICD-Loader/files/4562461/patches.zip)

also of interest
[code]

[2020-05-01 04:55] bashbaug commented on #107
OK, that's encouraging.

I just pushed one more commit that may resolve this issue.  Would you mind grabbing the latest changes, or making one additional small change to your CMakeLists.txt?

[code]

If it doesn't, could you check if you have a libruntimeobject.a on your system?  See related comment [here](https://github.com/KhronosGroup/OpenCL-ICD-Loader/pull/110#issuecomment-622022993).

The CMa

[2020-05-02 04:52] hydra3333 commented on #107
Beaut.  Will let you know.

[2020-05-02 05:01] hydra3333 commented on #107
Success !
Thank you for your patience, persistence and good work.

[code]

[2020-06-04 08:23] rcombs commented on #107
I'm a little bit confused about this. I was under the impression that it was safe for applications that want to use OpenCL to ship their own build of the loader (in order to not depend on one being installed on the system), and use it to load ICDs if present. But in this issue, it's being discussed as if applications need to depend on the system-installed loader. Is a copy of the loader guaranteed

[2020-06-04 09:40] hydra3333 commented on #107
Isn't that dangerous ? Overwriting/bypassing what manufacturers/windows may have installed ?

No that I've found.

The rest is up the the owners here to comment.

[2020-06-04 10:43] rcombs commented on #107
I was under the impression that the loader was supposed to be an implementation of a standard interface, and that implementations were supposed to be fairly fungible, with all the device-specific stuff being in the ICD itself. If that's not the case, then… what's the point of the loader as a separate library?

[2020-06-04 11:58] MathiasMagnus commented on #107
You need the ICD loader to enable multiple implementations living happily side-by-side in a plug'n'play manner.

It is discouraged because ISVs typically fire and forget and don't do a great job of keeping all their dependencies up to date, not to mention I may install ffmpeg once and leave it at the same version for an entire year. Even if the project did a good job of updating its deps, I may no

[2020-06-04 13:01] jenatali commented on #107
Adding my two cents as a Windows developer: We bend over backwards to make old apps run on new versions of Windows.

If old apps have a dependency on a system OpenCL loader, that means that we're responsible for ensuring that the system loader can find an OpenCL ICD to make the app work. It may mean changes to the ICD loader as the platform evolves, or potentially new changes to find new kinds of

[2020-06-04 18:41] rcombs commented on #107
Thanks @jenatali, I really appreciate the perspective.
That said, I'm still kind of taken aback at the API stability situation here, which isn't what I expected, isn't what anyone else working on OpenCL code for ffmpeg seems to have expected, and isn't what's sort of implied by the existence of this package. As far as I can tell, there are 3 major scenarios:
- macOS, where the relevant API is expo

[2020-06-04 18:55] jenatali commented on #107
My understanding of the reason this project exists for Windows is to provide a common source for *drivers* to be able to include this DLL in their driver packages. I was shocked to learn that static linking was possible, or that apps could/do include this as part of the app.

On Windows, if you have an OpenCL driver, you have a system OpenCL ICD loader. In the future that will be even more broad,

[2020-06-04 19:05] rcombs commented on #107
Which raises the question of why it was ever part of driver packages (instead of installed with the system) to begin with, but I suppose that's immaterial now.

You can see why it'd seem like the right thing to do, given what it allows and how the documentation doesn't tell you not to, right? I'd really like to get things clarified here, so app developers can know how they're meant to interact wit

[2020-06-08 04:19] bashbaug commented on #107
Hello!  Thanks for (re-)looping me into this discussion.

A POC demonstrating what I've been up to is here.  It's (probably) not quite ready for prime time yet, but it is working for my simple test cases:

https://github.com/bashbaug/SimpleOpenCLSamples/tree/hybrid-loader-lib/libOpenCLHybrid

The basic idea it is to link with this library and not to the ICD loader directly.  This library will dyna

[2020-06-08 04:51] rcombs commented on #107
This sounds exactly like the solution to this problem I've been looking for! I'd love to see it in its own repo, and potentially linked from the readme here as a "if you're distributing an application this is probably what you want".

[2020-06-08 04:59] rcombs commented on #107
Hmmmm, looking closer at the implementation, though… is it actually guaranteed that the layout of the vtable in the loader won't change? And that the copy of the loader installed on the system will use the same layout as the official loader?

[2020-06-08 12:47] jenatali commented on #107
That layout is prescribed in the [cl_khr_icd](https://www.khronos.org/registry/OpenCL/specs/3.0-unified/html/OpenCL_Ext.html#cl_khr_icd-opencl) extension. Personally I agree that there should be more runtime negotiation of table layout, but yes that is the layout that all ICDs use.

[2020-06-17 20:11] GekkieHenkie opened #111 "New release/tag"
I understand this needs some alignment with the OpenCL-headers repository, but the current and only tag v2020.03.13 gives me troubles compiling on Ubuntu because of the multiple defined ret_val issue which got fixed two weeks later in [this pull](https://github.com/KhronosGroup/OpenCL-ICD-Loader/pull/101).

As a workaround I could return to always syncing my project to the master branch, but it fe

[2020-06-17 20:31] kpet commented on #111
Released [v2020.06.16](https://github.com/KhronosGroup/OpenCL-ICD-Loader/releases/tag/v2020.06.16)

[2020-06-17 20:34] #111 closed

[2020-07-20 17:10] alycm opened #112 "Add clSetContextDestructorCallback for OpenCL 3.0"
The 3.0 specification added a new API entry point, this should be added to the ICD loader.  Needs header support first, see https://github.com/KhronosGroup/OpenCL-Headers/issues/98.

https://github.com/KhronosGroup/OpenCL-Docs/pull/346

[2020-07-29 23:33] #112 closed

[2020-08-13 01:00] bashbaug opened #116 "Disable testing when ICD Loader is included in other projects?"
Currently, the ICD loader CMakefile unconditionally includes CTest, and enables tests based on BUILD_TESTING.  This is great for the ICD loader project itself, but a little awkward when the ICD loader is included in other projects, especially when the other projects also include tests.

Should we disable ICD loader testing when the ICD loader is included in other projects?

I this this is as simpl

[2020-08-20 15:18] hydra3333 opened #118 "unchanged build script now fails to build the loader"
Hello.

I have a build script which apparently last worked successfully a few weeks ago but when run tonight 20/8/2020 it failed as shown in the log below.

Suggestions would be welcomed.

Configure options:
[code]

Thank you.

[code]

[2020-08-20 15:26] hydra3333 commented on #118
Er, it may be my issue ?
It should be running cmake and it's doing ninja ? I don't know why.

[2020-08-29 16:10] saedrna opened #120 "It seems that recent version is dependent with winrt api, that is not supported in WIN7."
Starting from version `2020.06.16`, `opencl.dll` is dependent on winrt api, i.e. `dumpbin` of MSVC gives the following results

[code]

while previous version (`2020.03.13`) is
[code]

But unfortunately ` api-ms-win-core-winrt-string-l1-1-0.dll` and `api-ms-win-core-winrt-l1-1-0.dll` are only supported after Win10. This will lose support for Windows 7.

Han

[2020-08-29 20:48] jenatali commented on #120
Yep, makes sense. Sounds like they should probably be delay-loaded instead. I'll give it a shot.

[2020-09-08 16:53] #116 closed

[2020-09-08 23:19] jrprice opened #123 "Function definitions shouldn't use __attribute__((deprecated))"
The function definitions in the code generated for the ICD loader dispatch use the prefix/suffix preprocessor macros for marking APIs as deprecated. These macros potentially expand to include GCC's `__attribute__((deprecated))`, which isn't valid on function definitions. As noted in #122, this isn't an issue in practice for the ICD loader since we currently always support deprecated functions and

[2020-09-09 02:36] bashbaug commented on #123
OK, I think I see what's going on.  In short, prior to #114, most of the ICD loader dispatch functions (incorrectly) included the suffix macro on dispatch function definitions, but importantly there was no "deprecated" suffix macro on the OpenCL 2.x function definitions.  When the dispatch functions were generated in #114, the "deprecated" suffix macro got added, which exposed this problem.

I bel

[2020-09-28 06:32] tadeaustria opened #128 "loader/windows/OpenCL.rc"
It seems that _loader/windows/OpenCL.rc_ is broken with the last commit [97f0eb551154ac28decc89f546eb9f4082948887](https://github.com/KhronosGroup/OpenCL-ICD-Loader/commit/97f0eb551154ac28decc89f546eb9f4082948887) due to unresolved merges.

[2020-09-28 06:34] tadeaustria commented on #128
Looks like #127 already handles it

[2020-09-28 06:34] #128 closed

[2020-10-11 10:15] kpet opened #129 "Document the procedure to configure an ICD"
This is currently documented in the OpenCL extension specification but not discoverable from this repository.

[2020-10-23 05:08] hydra3333 commented on #118
reolved

[2020-10-23 05:08] #118 closed

[2020-10-23 05:09] hydra3333 opened #130 "cross-compilation under Linux/Mingw64 fails after newer commits"
Hello,

I am trying to cross-compile the ICL Loader under Linux/Mingw64 with a target of Win10x64 and Nvidia driver (openCL v1.2).

Previously, you very kindly created `-DOPENCL_ICD_LOADER_DISABLE_OPENCLON12=ON` so as to create an import lib,
https://github.com/KhronosGroup/OpenCL-ICD-Loader/commit/bb98ad9a9c264d63ad2204c1eeee0a3a1e724e20
"This variable should only be used when building an import

[2020-10-27 00:38] bashbaug commented on #130
I'm sorry we keep breaking your build!  If there's a way we can get this configuration included in our CI builds this is something we should enable to prevent issues like these in the future.

Looking at the command line for the failing file:

[code]

I suspect this is the issue:

[code]

The OpenCL ICD loader requires the latest OpenCL headers and builds for the latest OpenCL version, which is no

[2020-11-01 04:15] hydra3333 commented on #130
Hello, no probs.

I'll test that by removing `-DCL_TARGET_OPENCL_VERSION=120` and reverting the patches relating to 120.

The thing is, nvidia windows drivers release notes seem say 1.2 supported, 2.0 is for testing, and no mention of v3 at all. So I'm not sure what will work and what will not at runtime.

Cheers

[2020-11-22 03:26] hydra3333 commented on #130
Unfortunately, it still doesn't work cross-compiling (no patches applied) with mingw64 under ubuntu with target win10x64. The ICD Headers were freshly installed just prior.

[code]

[2020-11-23 11:02] jenatali commented on #130
Looks like you need a new version of MinGW, those defines were added to the MinGW cfgmgr32.h in July: https://sourceforge.net/p/mingw-w64/mingw-w64/ci/fe758f07a9efba160511b8c7af35300cfd5b739d/

[2020-11-24 05:58] hydra3333 commented on #130
OK. Thanks.

Just quickly checked the build script and it uses the latest mingw from git https://git.code.sf.net/p/mingw-w64/mingw-w64

Will re-check and re-try.

[2020-11-26 21:27] markoshorro commented on #10
As a matter of a fact, this solution is still working; reason is the same as @flaub points

[2020-12-04 21:12] jrprice opened #133 "Add Armv7 and AArch64 coverage to GitHub Actions"
See OpenCL-CTS for an example of how to do this.

[2020-12-04 21:17] jrprice opened #134 "Add Clang coverage to GitHub actions"

[2020-12-13 21:51] yankarinRG opened #136 "Test failing after"
After following the [build instructions](https://github.com/KhronosGroup/OpenCL-ICD-Loader/blob/master/README.md#build-instructions) completely and with stock cmake params, running tests fail both for Debug and Release config for the following reasons with exit code 0xc0000135:
---------------------------
icd_loader_test.exe - System Error
---------------------------
The code execution cannot proc

[2020-12-14 15:56] bashbaug commented on #136
Hello, I wrote up the steps I follow to run the ICD loader tests here:

https://gist.github.com/bashbaug/cd41217c173c4c28088b0e07bd40ecf0

Could you please try following these steps and see if you still encounter issues?

I agree that running the ICD loader tests is very difficult right now and I think this is something we need to improve.

[2020-12-15 11:53] yankarinRG commented on #136
Hello and thanks for the quick reply, now the single test passes.
The trick was to place OpenCL.dll to the executable directory (other than IcdLog.dll).
I think it would be an useful thing if you could update this repo guide with yours which has all the steps.
Thanks again.

[2021-01-05 13:20] aranpaop opened #137 "Could ICD read *.icd64 files while the loader is a 64-bit program?"
For example for android, build the 32-bit loader which might be:
`/system/vendor/lib/libOpenCL.so`
and read .icd files in path:
`/system/vendor/Khronos/OpenCL/vendors/vendor*.icd`
The file vendor*.icd may contain contents like:
`/system/vendor/lib/egl/libXXX_vendor.so`

also, build 64-bit loader which might be:
`/system/vendor/lib64/libOpenCL.so`
and read .icd64 files in path:
`/system/vendor/Khro

[2021-01-07 17:18] Kerilk opened #138 "Loader termination"
This issues aims at kick-starting a discussion on Loader termination issues.

For now, the ICD Loader doesn't provision any mechanism for termination when the application exits. It has two implications:
 - without taking layers into account, applications can call OpenCL functions in `atexit` callback, irrespective of when the callback was registered (before or after Loader initialization). At leas

[2021-01-09 11:00] alucryd commented on #130
For those who stumble upon this, having the latest MinGW is not enough, you also need to define WINVER to be at least Win7 according to this: https://docs.microsoft.com/en-us/cpp/porting/modifying-winver-and-win32-winnt?view=msvc-160

[2021-01-09 11:21] alucryd commented on #11
Also getting this, but interestingly it only affects the i686 build, x86_64 is fine.

[code]

Any idea why?

[2021-02-24 22:08] jrprice opened #143 "Support for OCL_ICD_ASSUME_ICD_EXTENSION"
ocl-icd provides an `OCL_ICD_ASSUME_ICD_EXTENSION` environment variable which tells it to skip the check for `cl_khr_icd` when loading ICDs. There are some users that are depending on this functionality (e.g. to target implementations that don't have a fully compliant ICD implementation) that are unable to use the Khronos ICD Loader.

This would be pretty straightforward to implement and I think i

[2021-03-12 19:04] #123 closed

[2021-04-15 16:37] andrfgs opened #146 "Broken for Arch Linux"
ICD Loader seems to be broken on Arch Linux due to multiple linker definitions. Here's the log compiling v2020.06.16:

[code]

Is there any fix for this? Right now this bug makes the ICL Loader completely unavailable on Arch Linux.

[2021-04-17 04:56] bashbaug commented on #146
Can you please try the changes in #147 to see if it fixes this issue?  I don't have an Arch Linux install to try to be sure, but I think this is the issue, looking at the code.

If this doesn't work I think/hope you should be able to build the ICD loader on Arch Linux by disabling testing, but that obviously isn't an ideal fix.

[2021-04-27 03:18] andrfgs commented on #146
The issue has been solved. Thanks a lot for the feedback!

[2021-04-27 03:18] #146 closed

[2021-04-27 14:27] bashbaug commented on #146
Hi @andrfgs , did the changes in #147 solve this issue?

It seems like a good change anyhow so I'm tempted to merge it regardless, but it would be good to know if it was the root-cause of your issue.  Thanks!

[2021-04-28 17:26] andrfgs commented on #146
Unfortunately, since I updated the system, I cannot fully know if it was those exact changes that solved it. My guess is that it was either 2 arch packages with incompatible versions or #147.

I cannot tell for sure unfortunately.

[2021-05-03 22:18] Kerilk commented on #76
I like the way you are testing the loader here. I think I have an idea to completely automate the generation of 95% of the test.
I have a couple of questions though, and one remark. Questions:
 - Is there any reason to avoid generating a mockup ICD? This would allow testing a 100% of the API while staying generated. I imagine the problem would lie with Windows, as on unixes I don't see any obstacl

[2021-05-04 04:47] bashbaug commented on #76
No, not at all!  I'm also happy to help if needed, just let me know what I can do.

This is a very interesting question now that we're generating most of the loader...

[2021-05-10 22:44] alycm commented on #76
One alternative is to test the generator itself, e.g. for input X does it produce expected output Y.   The variety of patterns in `cl.xml`, however, means it would be hard to write tests with good coverage.  Also if the bug is in cl.xml itself no test generation approach will catch it.

The current testing is pretty minimal.  Pragmatically I think generated testing could still provide more safety

[2021-07-13 10:19] Saikatsaha1996 opened #151 "Ctest error in android termux"
Any solution for this ?

![Screenshot_20210713-154816](https://user-images.githubusercontent.com/72664192/125435458-c424d0a9-6be2-4a65-91b5-199041d32d4f.png)

[2021-07-15 21:31] bashbaug commented on #151
I wrote up some notes how to run the ICD loader tests on Linux a while back.  Here's what I do:

I know Linux isn't quite the same as Android but perhaps this is useful?

I agree this is not ideal, see related issue here: https://github.com/KhronosGroup/OpenCL-ICD-Loader/issues/76

[2021-07-16 03:28] Saikatsaha1996 commented on #151
Oky I will try thank you for your response...

[2021-07-16 06:51] MathiasMagnus commented on #151
I may have misunderstood the question when skimming through, but I believe this problem is solved in my open PR which is a CI and CMake overhaul, but as a side-effect I also fixed running CTest loading the stub libraries. [Here](https://github.com/KhronosGroup/OpenCL-ICD-Loader/pull/115/files#diff-33394812ba204689144fd2f80832db83853ba1cb32403edb4e15fe4893e675fdR17-R34) is how I done it.

I'll have

[2021-07-24 13:05] Saikatsaha1996 commented on #151
![16271318971817216788472226960747](https://user-images.githubusercontent.com/72664192/126869326-77ee5472-3920-4ed6-8cb5-560f95911af1.jpg)

Now getting segmentation fault
Android termux

[2021-09-25 13:15] yeah-its-gloria opened #155 "Can't compile OpenCL.rc on Windows using llvm-rc"
llvm-rc (which is LLVM's replacement for CL's internal RC compiler) throws an error when compiling `loader/windows/OpenCL.rc`:
[code]
This refers to line 46:
[code]
llvm-rc seems not to understand `\251` (CL compiles this one just fine), though replacing it with a `(c)` fixes it:
[code]

To reproduce:
- Install ninja-build and LLVM (version 12.0.1, which is the latest stable version as of now)
- R

[2021-10-08 21:09] b-sumner opened #156 "cl.h not found?"
After a fresh clone, if I cd into OpenCL-ICD-Loader, and run

mkdir build
cd build
cmake ..

No problems.  But if I then

make

it stops immediately with

Scanning dependencies of target OpenCL
[  3%] Building C object CMakeFiles/OpenCL.dir/loader/icd.c.o
In file included from /khronos/github/OpenCL-ICD-Loader/loader/icd.c:19:
/khronos/github/OpenCL-ICD-Loader/loader/icd.h:36:10: fatal error: CL/c

[2021-10-08 21:18] Kerilk commented on #156
I think you can also override the CMake variable `OPENCL_ICD_LOADER_HEADERS_DIR` to specify an alternate location.

[2021-11-12 10:50] MichaelTutin opened #157 "Memory leaks in libOpenCL.so.1!khrIcdVendorAdd"
Intel Inspector detects memory leaks for two allocations in khrIcdVendorAdd():

1. Error: Memory leak: 16 Bytes:

   libOpenCL.so.1!khrIcdOsVendorsEnumerate - /OpenCL-ICD-Loader/loader/linux/icd_linux.c:125

2. Error: Memory leak: 80 Bytes

   libOpenCL.so.1!khrIcdOsVendorsEnumerate - /OpenCL-ICD-Loader/loader/linux/icd_linux.c:125

Looking at the code in[ icd.c](https://github.com/KhronosGroup/Op

[2021-11-12 16:38] Kerilk commented on #157
Thanks for reporting the issue.
The termination of the loader is an open problem. I'll try to summarize the issues here:
- We leak memory,
- Libraries are not unloaded (drivers, layers),
- We don't have a termination API for layers (so they must use at_exit() for termination).

Adding termination to the loader nonetheless may present a risk that user application (less likely) or libraries (more li

[2022-01-11 14:46] MathiasMagnus opened #162 "Can't load layers in CI"
What was the rationale of introducing the [secure_getenv](https://github.com/KhronosGroup/OpenCL-ICD-Loader/pull/88) handling "as per OpenCL WG discussion"? The problem is that we cannot test in CI on Windows because of this.

The default user in the image is ContainerAdministrator, which has high integrity level, and therefor we cannot load layers which are only available via environmental variab

[2022-01-12 15:24] Kerilk commented on #162
As pointed out by @bashbaug would https://github.com/KhronosGroup/OpenCL-ICD-Loader/pull/154 help? If it could then I should be able to add you as a reviewer of the PR.

[2022-01-14 08:21] MathiasMagnus commented on #162
@Kerilk Please do.

[2022-02-16 15:43] MathiasMagnus opened #165 "Add CMake option to control tracing mode"
It's fairly cumbersome currently to debug ICD Loader issues in CI and Windows containers (tooling around handling Windows containers is subpar). If one wishes to debug things inside the loader, currently we need regex slice'n'dice in the source tree to enable tracing. A CMake option would improve the "expereince". (If that's the right word for debugging CI. :))

[2022-02-16 16:48] bashbaug commented on #165
Do we want this to be a CMake option (and hence require a rebuild), or do you think it makes sense to have tracing compiled in by default and controlled by e.g. an environment variable?

We discussed this briefly in a previous "environment variable" issue (https://github.com/KhronosGroup/OpenCL-ICD-Loader/issues/48), but I don't think anyone has started on the tracing output part of this (yet).

[2022-02-16 18:09] MathiasMagnus commented on #165
An env var would be better indeed.

[2022-03-16 00:03] cdai2 opened #167 "Enable the internal trace in ICD loader"
Some times the OpenCL ICDs are not loaded successfully because of some reason.  But the user can not know the reason quickly. It's better that OpenCL ICD loader can provide some trance information or trace information.

Currently there is "KHR_ICD_TRACE" to provides some trance info but it's not enabled by default.  It's commented out by "#if 0" in icd.h fie.  I propose to use one environment vari

[2022-03-16 14:53] MathiasMagnus commented on #165
Closing this issue, as the [very same solution](https://github.com/KhronosGroup/OpenCL-ICD-Loader/issues/167) was brought up as an issue by independent developer.

[2022-03-16 14:53] #165 closed

[2022-03-16 15:28] Kerilk commented on #167
This is a common suggestion, thanks for putting it back to the top of the list, and I think it is reasonable. Before we start we need to decide:
 - Name of the environment variable
 - Stream to use (configurable?)
 - Should we provide a registry key providing the same functionality as environment variables cannot be used on Windows while running securely
Are there other constraints/features I am o

[2022-03-17 07:45] cdai2 commented on #167
Thanks for feedback. Currently I have a draft patch.  I will submit for review soon:

- Name of the environment variable
      I used "OCL_ICD_ENABLE_TRACE" as environment variable following the pattern of existing ICD environment variables.

- Stream to use (configurable?)
      I use  "stderr".  We can add configurable stream.

- Should we provide a registry key providing the same functionality

[2022-03-30 17:13] cdai2 commented on #167
Please review https://github.com/KhronosGroup/OpenCL-ICD-Loader/pull/168.

[2022-04-23 19:36] BtbN opened #170 "Build failure on Windows since OCL_ICD_ENABLE_TRACE addition"
Hi!

Since the new environment variable was added, building the loader for Windows fails with the following error:

[code]

Not entirely sure what the correct fix for this is. Maybe the header-include also needs wrapped in extern "C"?

[2022-04-25 02:27] cdai2 commented on #170
https://github.com/KhronosGroup/OpenCL-ICD-Loader/pull/171 is to fix this issue.
Sorry that this compilation error is not exposed on my local machine before.

[2022-04-27 00:47] cdai2 commented on #170
As #171   is landed. Please verify and close this issue. @BtbN

[2022-04-27 16:15] BtbN commented on #170
Yep, all builds succeeded!

[2022-04-27 16:15] #170 closed

[2022-05-05 13:16] robquill opened #173 "clGetPlatformInfo segfaults if platform is NULL and khrEnableTrace is 0"
In icd_dispatch_generated.c line 52, the ICD does:

    KHR_ICD_VALIDATE_HANDLE_RETURN_ERROR(platform, CL_INVALID_PLATFORM);
    return platform->dispatch->clGetPlatformInfo(
        platform,
        param_name,
        param_value_size,
        param_value,
        param_value_size_ret);

However, KHR_ICD_VALIDATE_HANDLE_RETURN_ERROR only returns anything if khrEnable is 1. Otherwsise it does no

[2022-05-05 13:17] robquill commented on #173
Also can be easily seen by running clinfo, which explicitly test NULL platform behaviour.

[2022-05-05 16:11] Kerilk commented on #173
Thanks for reporting this embarrassing issue!
https://github.com/KhronosGroup/OpenCL-ICD-Loader/pull/174 should fix this. CI is a bit slow this morning, but it should get merged soon.

[2022-05-05 17:29] bashbaug commented on #173
Looks like this issue automatically closed.  Just to be sure - @robquill can you please confirm that this issue no longer occurs with the fix in #174?

CC @cdai2 - you'll want to pick up this fix too.

Thanks @Kerilk for the quick fix!

[2022-05-06 09:15] robquill commented on #173
Thanks all for the quick fix. I can confirm this is now working.

[2022-09-07 15:12] bashbaug commented on #73
This has been done for some time now.  Since I don't think there is anything more to do, I am closing this issue.

[2022-09-07 15:12] #73 closed

[2022-09-10 00:50] bashbaug commented on #48
We have a bunch of documented environment variables now so I think we can close this issue and add new issues to track any new requests.  Thanks!

[2022-09-10 00:50] #48 closed

[2022-09-10 20:33] #173 closed

[2022-09-10 20:34] bashbaug commented on #167
I think this is fixed now, by #168?  Closing, but please feel free to reopen if there is still work to do, thanks!

[2022-09-10 20:34] #167 closed

[2022-10-01 07:53] zchrissirhcz opened #183 "Failed to get number of platforms on Mac Intel and Mac M1"
Hi, OpenCL-ICD-Loader authors:

I'm using OpenCL-ICD-Loader and OpenCL-Headers on MacOSX, both Intel chip and M1. The OpenCL-ICD-Loader is the latest ([4aa6837](https://github.com/KhronosGroup/OpenCL-ICD-Loader/commit/4aa683775c4ee55594196c79def7a75103d75e4c)).

The following code build OK, but running result is "failed to get number of platforms", which is not as expected.

And if I don't use Ope

[2022-10-04 00:31] bashbaug opened #184 "Improve FreeBSD Support"
see: https://github.com/KhronosGroup/OpenCL-SDK/issues/55

A minimum we should modify the OpenCL ICD loader so it checks for FreeBSD or Unix generically vs. just Linux, to fix build issues.

Separately we can investigate renaming some of the source files so they apply more generically to Unix vs. Linux.

[2022-10-04 00:49] juliohm commented on #184
Regarding the FreeBSD environment to test, the build script I provided in https://github.com/juliohm/cross-platform-opencl should be enough.

You can type

[code]

to emulate a FreeBSD.

[2022-10-04 01:04] bashbaug commented on #184
Thanks!  I'll test your build script next.  I also setup a FreeBSD VM so I can at least build and run unit tests.

[2022-10-08 05:32] bashbaug commented on #11
Hello, just FYI we've been making a lot of progress getting the OpenCL ICD loader building on MinGW, please follow the discussion here: https://github.com/KhronosGroup/OpenCL-SDK/issues/58

PR #186 has the latest changes and appears to build correctly for both 64-bit and 32- bit builds (with OpenCLon12 disabled) but I'm still getting some linker warnings.  I've yet to determine if these are someth

[2022-10-10 16:46] CarterLi opened #187 "Please add OpenCL.pc so pkg-config can find this package"
Like what another repo did: https://github.com/OCL-dev/ocl-icd/blob/master/OpenCL.pc.in

Thanks.

[2022-10-10 22:58] bashbaug commented on #183
Hello!

This is the expected behavior: If you're trying to use the native MacOS OpenCL support (this is the common case) then you don't need this project (OpenCL-ICD-Loader) and you can link with the system's OpenCL framework to enumerate OpenCL platforms.  We do provide support for MacOS builds for uncommon cases that use the ICD extension and hence require an openCL ICD loader, such as [clvk](ht

[2022-10-11 00:23] bashbaug opened #191 "difficulties building with 32-bit mingw-i686"
I've been trying to get the OpenCL ICD loader building and working properly with 32-bit mingw-i686 as part of https://github.com/KhronosGroup/OpenCL-SDK/issues/58 but I seem to have hit a bit of a dead end, so I'm at least documenting what I've tried in case it is helpful.

I'm cross-compiling on a Linux host (Ubuntu 20.04).  I have the mingw-w64 packages installed.

[code]

I'm trying to build my

[2022-10-11 00:29] zchrissirhcz commented on #183
Thank you for the detailed explanation.

[2022-10-11 00:29] #183 closed

[2022-10-11 00:45] bashbaug commented on #191
A bit more information - this is on a native Windows system with an OpenCL.lib and OpenCL.dll built using MSVC 2019:

1. The import library OpenCL.lib DOES decorate the functions it exports.  This is true both for RelWithDebInfo and Release builds:

[code]

2. The actual OpenCL.dll I built has both decorated and undecorated functions when I build RelWithDebInfo:

[code]

3. If I build a Release Op

[2022-10-11 00:50] jenatali commented on #191
While not an expert at MinGW, someone recently contributed some patches to Mesa to generate .def files that seem to work for MinGW: https://gitlab.freedesktop.org/mesa/mesa/-/blob/main/bin/gen_vs_module_defs.py. Specifically, they use the format of `function@8 == function` instead of `function = function@8`. Perhaps that might help?

[2022-10-11 03:40] bashbaug commented on #191
Thanks, I'll give this a look!

[2022-10-13 01:12] bashbaug opened #192 "failed assert: len == (sizeof(cszLibraryName) - 1)"
Found as part of the mingw enabling.  This OpenCL ICD loader assert is currently failing:

[code]

I think this is a problem with the assert, not a problem with the code:

* After the call to [wcstombs_s](https://learn.microsoft.com/en-us/cpp/c-runtime-library/reference/wcstombs-s-wcstombs-s-l?view=msvc-170) `len` should contain "The size in bytes of the converted string, including the null termin

[2022-10-15 04:40] bashbaug commented on #191
:tada: The `function@8 == function` syntax worked perfectly and I'm able to build an OpenCL.dll with mingw-i686 that works now.  Thanks a ton! :tada:

[2022-10-18 20:47] ValZapod opened #194 "Sigverif.exe says opencl.dll is not signed"
This is to Intel people. So OpenCL.dll ICD loader 3.0.2.0 is part of Windows 11 22H2, right, in two places, under System32 and SysWOW64. And sigverif.exe says it does not like the Intel signature.

See for example https://social.technet.microsoft.com/Forums/windows/en-US/d7e93877-2f0f-4b86-a5d6-e903644fce0d/recurrent-test-mode-due-to-opencldll-not-signed-?forum=win10itprogeneral

That is very bad,

[2022-10-18 23:45] bashbaug commented on #194
I've reached out to our installer team.

Can you please confirm:
* This is for OpenCL.dll, not OpenCL.exe?
* Which driver version are you using?

Thanks!

[2022-10-18 23:51] ValZapod commented on #194
Opencl.dll indeed.

Driver? It is part of windows, I think.

Can yu confirm the issue when running sigveriexe?

[2022-11-09 16:13] ValZapod commented on #194
Opencl.dll is now signed in version 3.0.3.0 and is shown as part of nv_disp.cat, i.e. nvidia driver.

[2022-11-09 16:13] #194 closed

[2022-11-10 22:16] bashbaug opened #199 "handle update to macos github actions workflow"
See: https://github.com/KhronosGroup/OpenCL-ICD-Loader/pull/198

The macos-latest workflow was updated recently to macos-12, which doesn't have the gcc versions our MacOS CI is currently testing.

Several options to consider:

1. Stick with macos-11 for the foreseeable future, which has the older gcc versions.
2. Switch to macos-12 and test with gcc-11 only.
3. Switch to macos-12 and figure out a

[2022-11-10 23:02] #192 closed

[2022-11-11 00:12] #191 closed

[2022-11-14 18:23] bashbaug opened #200 "new CI failure related to Ubuntu gcc-11"
We seem to have a new CI failure now, due to gcc-11 on Ubuntu.  Example:

https://github.com/KhronosGroup/OpenCL-ICD-Loader/actions/runs/3463417895/jobs/5784936379#step:4:85

[code]

Here is the related CI section, showing that this is gcc-11 specific:

[code]

I'll try to get this working again, otherwise we can disable gcc-11 testing temporarily.

[2022-11-14 21:14] Kerilk commented on #200
@bashbaug I reran the failed test, they passed. This is a network issue, where sometimes either the PPA or the key server fail to answer.

[2022-11-14 21:19] bashbaug commented on #200
Ok phew, I tried re-running them several times but they failed consistently.  Glad to hear they're passing now though!  I'll close this issue.

[2022-11-14 21:19] #200 closed

[2022-11-14 21:34] #11 closed

[2022-11-14 21:34] #130 closed

[2022-11-15 01:46] bashbaug commented on #107
I know this is a very old thread, but I think we finally fixed the last of the mingw issues.  :tada:

@hydra3333 if you're still around would you mind confirming that the latest changes work for you so we can close this issue?  Thanks!

[2022-11-17 03:03] Yanfeng-Mi commented on #157
Any updates on this issue?

[2022-11-24 11:09] nanake opened #202 "mingw build failed since commit 551a74d"
[code]

[2022-11-25 07:10] #202 closed

[2022-11-25 07:12] Kerilk commented on #162
Closing as https://github.com/KhronosGroup/OpenCL-ICD-Loader/pull/154 has been merged and solves this issue.

[2022-11-25 07:12] #162 closed

[2022-11-29 18:13] StuartDBrady commented on #187
See `gl.pc` on a typical distribution for an example of how this is done for GL, which typically has a dispatch layer similar to the ICD for OpenCL.  Note that there is a single libdir and includedir specified under a common pkgconfig file.  I would strongly recommend talking to package maintainers before doing otherwise for OpenCL.